* {
  padding: 0;
  margin: 0;
  outline: 0;
}
img {
  max-width: 100%;
}
.container {
  background-color: #f0fafb;
  padding: 4vw 10vw 0;
  display: flex;
  flex-direction: column;
}
.jobCardContainer {
  display: flex;
  flex: 1;
  background-color: #fff;
  border-left: 5px solid #63a2a1;
  padding: 2vw;
  border-radius: 5px;
  box-shadow: 0 40px 20px -20px rgba(214, 235, 236, 0.7);
  margin: 3rem 0;
}

.jobCardContainer img {
  object-fit: cover;
  padding-right: 2vw;
  align-self: flex-start;
}
.jobImgContainer {
  display: flex;
  flex-direction: column;
}
.jobDescContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.jobTagsContainer {
  display: flex;
  align-items: center;
}
p {
  font-family: Spartan, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.jobTitle {
  font-size: 19px;
  line-height: 3;
}
.jobCompany {
  color: #70a39c;
  font-size: 15px;
}
.jobCompany .newTag {
  color: #fff;
  background-color: #5ba3a2;
  border-radius: 15px;
  padding: 0.7vw 0.5vw 0.4vw 0.5vw;
  margin: 0 6px 0 10px;
  font-size: 11px;
  text-align: center;
  margin-right: 20px;
}
.jobCompany .featureTag {
  color: #fff;
  background-color: #000;
  border-radius: 15px;
  padding: 0.7vw 0.5vw 0.4vw 0.5vw;
  font-size: 11px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .jobCompany .newTag {
    padding: 2vw 1vw 1vw 1vw;
  }
  .jobCompany .featureTag {
    padding: 2vw 1vw 1vw 1vw;
  }
}
.jobTags span {
  background-color: #eaf7f7;
  color: #7aa2a1;
  padding: 1vw;
  font-size: 12px;
  margin: 0.4vw;
  border-radius: 4px;
  display: inline-block;
}
.jobDetails {
  color: #9aa4a3;
  font-weight: 500;
}
.footerContainer {
  display: flex;
  flex: 1;
  padding: 2vw;
  justify-content: center;
  font-family: Spartan, Arial, Helvetica, sans-serif;
  background-color: #5ba3a2;
  color: #fff;
  text-align: center;
}
.footerContainer a {
  text-decoration: underline;
  color: #fff;
}
.footerContainer a:hover {
  text-decoration: none;
  color: pink;
  transition: 0.7s;
}
a {
  text-decoration: none;
}
.headerBgDesk {
  width: 100%;
  background-color: #5da5a4;
}
.headerBgMobile {
  width: 100%;
  background-color: #5da5a4;
  display: none;
}
.searchBoxContainer {
  display: flex;
  flex: 1;
  font-family: Spartan, Arial, Helvetica, sans-serif;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 20px 10px -10px #e4e4e4;
}

.searchBoxContainer .searchText {
  display: flex;
  font-size: 1.2rem;
}
.searchBoxContainer a {
  display: flex;
  color: #fff;
  background-color: #5ba3a2;
  border-radius: 15px;
  padding: 0.6vw 0.5vw 0.4vw 0.5vw;
}

input[type="text"] {
  padding: 10px 5px;
  position: relative;
  width: 100%;
  border-radius: 9px;
  border: 2px solid #63a2a1;
}
button {
  position: relative;
  right: 60px;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 45%;
  background-image: url(./images/icon-arrow.svg),
    linear-gradient(to right, #5da5a4, #63baba);
  background-position: center;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}
li {
  display: block;
}

@media screen and (max-width: 840px) {
  .headerBgDesk {
    display: none;
  }
  .headerBgMobile {
    display: block;
  }
  .jobCardContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: top;
  }
  .jobIcon {
    margin: 0 0 1rem 0;
    margin-top: -35px;
    height: 80px;
    width: 80px;
  }
  .jobTags {
    margin-top: 1rem;
  }
}
